/* ------- import general CSS  ------- */
@import url('style.css');


.stylized-me{
    max-height: 22rem;
}

#bg-spot-1{
    position: absolute;
    right: -8rem;
    bottom: -7rem;

    z-index: 0;
    max-height: 38rem;
}

#initial-section{
    margin-top: 15vh;
}

#projects-section{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    z-index: 10;

    margin-top: 10vh
}

.pl-project-cover{
    box-shadow: 0px 0px 20px rgba(176, 131, 164, 0.19);
border-radius: 32px;

}