/* ------- import general CSS  ------- */
@import url('style.css');


.stylized-me{
    max-height: 22rem;
}

#initial-section{
    margin-top: 15vh;
}


#initial-section div, 
#initial-section .stylized-me{
    z-index: 1020;
    position: relative;
}

#projects-section{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    z-index: 1020;
    position: relative;

    margin-top: 10vh;
    padding-top: 5vh;
}

.pl-project-cover{
    border-radius: 32px;
}


#cv-section i{
    color: var(--purple);
}

#cv-section img{
    max-width: 18rem;
    max-height: 18rem;
}

#cv-section .col-md-5, .col-md-6{
    position: relative;
}

#pl-spot-1{
    position: absolute;
    right: -8rem;
    bottom: -7rem;

    z-index: 0;
    max-height: 38rem;
}

#pl-spot-2, #pl-spot-3 {
    position: absolute;
    left: 1rem;
    bottom: -2rem;

    z-index: -10;
}

#pl-spot-3{
    bottom: -6rem;
    max-width: 28rem;
}

#pl-spot-4, #pl-spot-5{
    position: absolute;
    bottom: -65vh;

    z-index: -10;
    max-width: 25rem;
}

#pl-spot-4{
    right: 3rem;
}

.pl-cv-card{
    background: #FFFFFF;
    border-radius: 20px;

    font-size: 0.8rem;    
    font-family: "Raleway", sans-serif;

    padding: 1rem;
}

.pl-cv-card h4, .pl-cv-card h5 {
    color: var(--fucsia);
    font-size: 0.8rem;

    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0;
}
.pl-cv-card h4{
    font-size: 1rem;
    
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.pl-line {
    position: absolute;
    top: 3rem;
    bottom: 0;

    width: 3px;
    background-color: var(--grey-dark);
    z-index: 10;
}

.left{
    left: calc(1.5rem - 1px);
}


.pl-ball{
    margin-right: 1rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 50%;
    background-color: var(--fucsia);
    border: 3px solid var(--grey-yellow);
    box-shadow: 0 0 0 3px var(--fucsia);
    z-index: 20;
}

@media screen and (max-width: 600px) {
    #initial-section{
        margin-top: 10vh;
    }
}
